@charset "utf-8";
@import url('../fonts/pretendard-gov/pretendard-gov.css');
@import url('../fonts/nanumsquareneo/nanumsquareneo.css');
* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sub_contents,
.sub_contents *,
.sub_contents *::before,
.sub_contents *::after {
  box-sizing: content-box;
  font-family: 'Pretendard GOV', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif !important;
}
:before,:after {
  margin: 0;
  padding: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    line-height:1.5;
}
html,body{width:100%;overflow-x: hidden;}
html{font-size:62.5%;}
body{font-size:1.5rem;letter-spacing:-0.05rem;}
body, th, td, input, select, textarea, button, code, kbd, pre, samp {
  font-family: 'Pretendard GOV', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
  color: #222;
  font-weight:400;
  line-height:1.4;
}
ul, ol, dl {
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'NanumSquareNeoVariable', 'NanumSquareNeo', 'Pretendard GOV', sans-serif;
}
h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: normal;
}

strong{
  font-weight:700;
}
b {
  font-weight: 600;
}
em{
  font-weight:5700;font-style: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
a:active, a:hover {
    text-decoration: none;
}
@media screen and (min-width: 1241px) {
  .mobile_only{display: none !important;}
}
@media screen and (max-width: 1240px) {
  .pc_only{display: none !important;}
}
img:not(.kpd-image-button){max-width:100%;}
.hide { display: none }
button{cursor:pointer;vertical-align: middle;}
img{vertical-align: middle;}
.float .left{float:left;}
.float .right{float:right;}
.clearfix{zoom:1}
.clearfix:after, .clearfix:before{display:table;content:"";}
.clearfix:after{clear: both;}
.underline{text-decoration:underline;}
.align_top{vertical-align:top}
.align_middle{vertical-align:middle}
.align_bottom{vertical-align:bottom}

.align_center{text-align:center !important}
.align_left{text-align:left !important}
.align_right{text-align:right !important}

.flex {display:flex !important;}
.inline_flex {display:inline-flex !important;}
.block {display:block !important;}
.inline_block {display:inline-block !important;}
.hide {display:none !important;}
.screen_hide{position: absolute;text-indent: -9999px;width: 0;height: 0;font-size: 0;line-height: 0;overflow: hidden;}
.sound_only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
#skip_to_container a {z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:3rem;font-weight:bold;text-align:center;text-decoration:none;line-height:75px;}
.mgt0 {margin-top:0px !important;} .mgt5 {margin-top:5px !important;} .mgt10 {margin-top:10px !important;} .mgt15 {margin-top:15px !important;} .mgt20 {margin-top:20px !important;} .mgt25 {margin-top:25px !important;} .mgt30 {margin-top:30px !important;} .mgt35 {margin-top:35px !important;} .mgt40 {margin-top:40px !important;} .mgt45 {margin-top:45px !important;} .mgt50 {margin-top:50px !important;} .mgt55 {margin-top:55px !important;} .mgt60 {margin-top:60px !important;} .mgt65 {margin-top:65px !important;} .mgt70 {margin-top:70px !important;} .mgt75 {margin-top:75px !important;} .mgt80 {margin-top:80px !important;} .mgt85 {margin-top:85px !important;} .mgt90 {margin-top:90px !important;} .mgt95 {margin-top:95px !important;} .mgt100 {margin-top:100px !important;}
.mgb0 {margin-bottom:0px !important;} .mgb5 {margin-bottom:5px !important;} .mgb10 {margin-bottom:10px !important;} .mgb15 {margin-bottom:15px !important;} .mgb20 {margin-bottom:20px !important;} .mgb25 {margin-bottom:25px !important;} .mgb30 {margin-bottom:30px !important;} .mgb35 {margin-bottom:35px !important;} .mgb40 {margin-bottom:40px !important;} .mgb45 {margin-bottom:45px !important;} .mgb50 {margin-bottom:50px !important;} .mgb55 {margin-bottom:55px !important;} .mgb60 {margin-bottom:60px !important;} .mgb65 {margin-bottom:65px !important;} .mgb70 {margin-bottom:70px !important;} .mgb75 {margin-bottom:75px !important;} .mgb80 {margin-bottom:80px !important;} .mgb85 {margin-bottom:85px !important;} .mgb90 {margin-bottom:90px !important;} .mgb95 {margin-bottom:95px !important;} .mgb100 {margin-bottom:100px !important;}
.mgl0 {margin-left:0px !important;} .mgl5 {margin-left:5px !important;} .mgl10 {margin-left:10px !important;} .mgl15 {margin-left:15px !important;} .mgl20 {margin-left:20px !important;} .mgl25 {margin-left:25px !important;} .mgl30 {margin-left:30px !important;} .mgl35 {margin-left:35px !important;} .mgl40 {margin-left:40px !important;} .mgl45 {margin-left:45px !important;} .mgl50 {margin-left:50px !important;} .mgl55 {margin-left:55px !important;} .mgl60 {margin-left:60px !important;} .mgl65 {margin-left:65px !important;} .mgl70 {margin-left:70px !important;} .mgl75 {margin-left:75px !important;} .mgl80 {margin-left:80px !important;} .mgl85 {margin-left:85px !important;} .mgl90 {margin-left:90px !important;} .mgl95 {margin-left:95px !important;} .mgl100 {margin-left:100px !important;}
.mgr0 {margin-right:0px !important;} .mgr5 {margin-right:5px !important;} .mgr10 {margin-right:10px !important;} .mgr15 {margin-right:15px !important;} .mgr20 {margin-right:20px !important;} .mgr25 {margin-right:25px !important;} .mgr30 {margin-right:30px !important;} .mgr35 {margin-right:35px !important;} .mgr40 {margin-right:40px !important;} .mgr45 {margin-right:45px !important;} .mgr50 {margin-right:50px !important;} .mgr55 {margin-right:55px !important;} .mgr60 {margin-right:60px !important;} .mgr65 {margin-right:65px !important;} .mgr70 {margin-right:70px !important;} .mgr75 {margin-right:75px !important;} .mgr80 {margin-right:80px !important;} .mgr85 {margin-right:85px !important;} .mgr90 {margin-right:90px !important;} .mgr95 {margin-right:95px !important;} .mgr100 {margin-right:100px !important;}
 .hover_underline:hover{text-decoration: underline !important;}
 table {
  border-collapse: collapse;
}
#rn_header textarea,
#rn_header input,
#rn_header select,
#rn_footer textarea,
#rn_footer input,
#rn_footer select,
.hd_layer textarea,
.hd_layer input,
.hd_layer select{
  box-sizing: border-box !important;
}
.container{max-width:1440px;margin-left:auto;margin-right:auto;padding-left: 20px;padding-right: 20px;}
@media screen and (min-width: 1441px) {
  .container{width:1440px;}
}
@media screen and (min-width: 1241px) {
  html.is-page-zoom-expand,
  html.is-page-zoom-expand body{overflow-x:auto;}

  html.is-page-zoom-expand .container{width:1400px;max-width:none;min-width:1400px;}

  html.has-page-zoom-fixed-scrollbar body{padding-bottom:18px;}
  .page_zoom_fixed_scrollbar{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    z-index:150;
    height:18px;
    overflow-x:auto;
    overflow-y:hidden;
    background-color:rgba(255,255,255,0.92);
    border-top:1px solid rgba(224,224,224,0.9);
  }
  .page_zoom_fixed_scrollbar[hidden]{display:none !important;}
  .page_zoom_fixed_scrollbar_inner{height:1px;}
}
@media screen and (max-width: 1100px) {
  .mb_mt_8{margin-top:8px !important;}
  .mb_mt_10{margin-top:10px !important;}
  .mb_mt_15{margin-top:15px !important;}
  .mb_mt_20{margin-top:20px !important;}
  .mb_mt_25{margin-top:25px !important;}
  .mb_mt_30{margin-top:30px !important;}
  .mb_mt_32{margin-top:32px !important;}
}
label{cursor:pointer;vertical-align: middle;}
.wid_pc_26{width:260px;}
.wid_pc_26 + .ss-main{width: 260px;}
.wid_pc_27{width:270px;}
.wid_pc_27 + .ss-main{width: 270px;}
html .ss-main{height:46px;font-size:1.5rem;color:#222;padding:0 0 0 16px;border-radius:6px;font-weight:400;
border:1px solid #e0e0e0;background-color:#fff;
background-position: right 16px center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.75L5.9999 8.2501L10.5 3.75' stroke='%23828282' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
html .ss-main.no_line{border:1px solid transparent;}
html .ss-main .ss-values{max-width: 100%;}
html .ss-main .ss-values .ss-single{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:calc(100% - 40px);display: block;}
html .ss-arrow{display: none !important;}
html .ss-main.ss-disabled{background-color:#F4F6F9;}
html .ss-main:focus{box-shadow: none;}
html .ss-main.ss-open-below,
html .ss-main.ss-open-above{border:1px solid #222;background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 8.25L6.0001 3.7499L1.5 8.25' stroke='%23828282' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
html .ss-content{border:1px solid #222;transition: none;z-index: 10000;}
html .ss-content.select_blue{border-color:#0E2B5E;}
html .ss-content.ss-open-above{border-bottom:1px solid transparent;}
html .ss-content.ss-open-below{border-top:1px solid transparent;}
html .ss-content .ss-list{}
html .ss-content .ss-list .ss-option{min-height: 46px;color:#222;font-size:1.5rem;padding:13px 16px;}
html .ss-content .ss-list .ss-option:hover{background-color: #f9f9f9;color:#555;}
html .ss-content .ss-list .ss-option.ss-disabled{padding:0;height:0;visibility: hidden;}
html .ss-content .ss-list .ss-option.ss-highlighted, html .ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected{background-color: #f1f1f1;color:#000;}
html .ss-content .ss-list .ss-option.ss-disabled{min-height:0;}
html .ss-main.select_blue{color:#fff;border:1px solid #0E2B5E;background-color:#0E2B5E;
background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
html .ss-main.select_blue.ss-open-below,
html .ss-main.select_blue.ss-open-above{border:1px solid #0E2B5E;background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7L7 1L13 7' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}

@media screen and (max-width: 1240px) {
  .wid_mb_100:not(.ss-content) {width: 100% !important;}
  .wid_mb_100 {max-width: 100% !important;}
  .wid_mb_100 + .ss-main{width: 100% !important;max-width: 100% !important;}
}
.resize_scroll{height:200px;min-height:200px;min-width:100%;max-width:100%; resize: vertical;}
@media screen and (max-width: 1100px) {
  .resize_scroll{height:150px;min-height:150px;min-width:100%;max-width:100%;overflow-y: auto;resize: none;}
}
.ss-list { max-height: 224px; overflow-y: auto; }
:not(.tab_cates ul)::-webkit-scrollbar { width: 8px;height: 8px; }
:not(.tab_cates ul)::-webkit-scrollbar-track { background: #E0E0E0; }
:not(.tab_cates ul)::-webkit-scrollbar-thumb { background: #717171; border-radius: 999px; }
:not(.tab_cates ul)::-webkit-scrollbar-thumb:hover {  background: #575757; }

form legend { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap;}
table caption { height:0;overflow: hidden;text-indent: -9999px;}
fieldset{border:0;padding:0;}

input[type="checkbox"],
input[type="radio"]{cursor: pointer;vertical-align: middle;}
input, select {
  vertical-align: middle;
}
select{box-sizing: border-box !important;}
.input_group{display: flex;align-items: center;gap:12px;}
.input_group.input_wrap{flex-wrap:wrap;}
.input_group + .input_group{margin-top:12px;}
.input_group .input_text{color:#717171;font-size:2rem;}
.input_group .ip_tit{width:100%;color:#202020;font-size:1.8rem;font-weight:600;margin-bottom:4px;}
.input_group .ss-main,
.input_group input[type="text"],
.input_group input[type="password"],
.input_group input[type="email"],
.input_group input[type="tel"]{flex:1 1 auto;width:1%;}
.form_caution{color:#2E6FE4;font-size:1.8rem;margin-bottom:16px;word-break: keep-all;}
@media screen and (max-width: 1240px) {
  .input_group{flex-wrap: wrap;gap:8px;}
  .input_group + .input_group{margin-top:8px;}
  .input_group + .input_group:has(.ip_tit){margin-top:16px;}
  .input_group .ss-main,
  .input_group input[type="text"],
  .input_group input[type="password"],
  .input_group input[type="email"],
  .input_group input[type="tel"]{max-width:99999em !important;}
  .input_group .input_text{margin-left:-2px;margin-right:-2px;}
  .ss-content{max-width:99999em !important;}
  .datepicker{background-position: right 16px center;}
}

.select_submit{margin-left:8px;}
.select_submit button{height:46px;color:#222;border-radius: 6px;min-width:66px;padding:0 15px;font-size:1.5rem;font-weight: 700;background: #F5F5F5;border:0;}

/* 포커스 */
:focus-visible{outline:#0E2B5E dashed 2px;outline-offset: -2px;}
#skip_to_container a:focus-visible,   
#nav > li > a:focus-visible,
.mt_skeywords .keyword:focus-visible,
.notice_card:focus-visible,
.slide_card:focus-visible,
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="email"]:focus-visible,
.ss-main:focus-visible
.mt_sform button:focus-visible,
form button,
.tab_nav li a,
.verify_list input[type="checkbox"]:focus-visible + div,
.count_cates .item .btn:focus-visible,
.search_results .result .list .search_item:focus-visible,
.consult_list .item a{outline-offset: -2px;}
.btn_list button:focus-visible,
.btn_list a:focus-visible{outline-offset: 0;}
.ss-main:focus-visible{outline:#0E2B5E dashed 2px;}
.file_upload label input:focus-visible + span + .btn,
.icon_radios .item label input:focus-visible + div,
.verify_list input[type="checkbox"]:focus-visible + div{outline:#0E2B5E dashed 2px;}

.mt_notice *:focus-visible,
.list_search_row .search_button button:focus-visible,
.list_search_col .search_button button:focus-visible,
.count_cates .item .btn:focus-visible,
.tab_nav li a:focus-visible,
.btn_list .btn:focus-visible{outline: #00ADB2 dashed 2px;}

.to_top_wrap{position: relative;width: 100%;}
#ToTop{position: absolute;z-index:100;left: calc(50% + 640px);right: auto;bottom:-330px;margin-left:0;display: block;border-radius: 50%;background: linear-gradient(180deg, #FF8418 0%, #ED4D28 100%);width:60px;height:60px;text-indent: -999em;overflow: hidden;opacity:1;visibility:visible;pointer-events:auto;transition:opacity .28s ease, visibility 0s linear 0s;}
#ToTop.is-to-top-hidden{opacity:0;visibility:hidden;pointer-events:none;transition:bottom .2s ease, opacity .28s ease, visibility 0s linear .28s;}
#ToTop:after{content:"";transition: all 0.3s;position: absolute;left:0;top:0;width:100%;height:100%;display: flex;align-items: center;justify-content: center;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 9.25L9.99983 1.24983L18 9.25' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='9.98828' y1='2.5' x2='9.98828' y2='18' stroke='white' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");}
@media screen and (min-width: 1241px) {
  #ToTop:hover:after{top:-5px;}
}
@media screen and (max-width: 1440px) {
  .main_content #ToTop{right:20px;}
  #ToTop{left:auto;right: 0;width:50px;height:50px;bottom:-282px;}
  #ToTop:after{background-size: 16px;}
}
@media screen and (max-width: 1240px) {
  #ToTop{bottom:20px;width:40px;height:40px;}
  #ToTop:after{background-size: 12px;background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 5.92969L5.99817 1.18131L10.7465 5.92969' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='5.72656' y1='1.63867' x2='5.72656' y2='11.3966' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");}
}
.en #ToTop{bottom:-120px;}
@media screen and (max-width: 1240px) {
  .en #ToTop{bottom:20px;}
}

.ui-datepicker-trigger{border: 0;}
.ui-datepicker-trigger {
  margin-left: 3px;
}

.hide{position:absolute; overflow:hidden; width:0; height:0; font-size:0;}

.radio{width:13px; height:13px;}
.check{width:13px; height:13px;}

/* btn */
a.btn_type_1 {display:inline-block; text-align:center; width:62px; padding:8px 0 7px 0; margin-top:0; background:#61ba46; border:1px solid #e8e8e8; color:#fff; font-size:12px; font-family:굴림;}
a.btn_type_2 {display:inline-block; text-align:center; width:74px; padding:5px 0 4px 0; margin-top:0; background:#909090; border:1px solid #e8e8e8; color:#fff; font-size:12px; font-family:굴림;}
.kihf{position:absolute; top:61px; right:-115px; z-index:600;}

.side_menu{display:none;}
.m_option{display:none;}

.select_box_1{padding:15px 10px 0;}
.select_box_1 select{width:230px; height:29px; border:1px solid #e1e1e1;}
.select_link {display:none; padding:0 5% 20px 5%; margin-top:20px;}
.select_link select {width:100%; height:30px; border:1px solid #9e9e9e;}

.m0{margin:0 !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
