@charset "utf-8";
#header_h1 { position: absolute; font-size: 0; line-height: 0; overflow: hidden; } 
#layout{display:flex;flex-direction: column;min-height:100vh;background-color:#fff;overflow: hidden;min-width:100%;position:relative;}
@media screen and (min-width:1241px) {
  html.is-page-zoom-expand #layout{min-width:1480px;padding-top:0;}
  html.is-page-zoom-expand #rn_header{
    position:sticky;
    top:0;
    left:auto;
    right:auto;
    width:auto;
    min-width:1480px;
  }
  html.is-page-zoom-expand .hd_menu ul#nav li a{padding:0 35px;}
  html.is-page-zoom-expand #rn_footer{min-width:1480px;}
  html.is-page-zoom-expand .sub_menu_box{min-width:1480px;}
  html.is-page-zoom-expand .hd_layer{
    position:absolute;
    top:var(--hd-layer-top, var(--header-layout-height, 120px));
    left:var(--hd-layer-left, 0px);
    width:var(--hd-layer-width, 100%);
  }
  html.is-page-zoom-expand .hd_sub_menu .hd_sub_menu_inner{
    width:100%;
  }
}
#rn_header{background-color:#fff;border-bottom:1px solid #E0E0E0;padding:0 30px;z-index:200;transition:transform .35s ease;will-change:transform;}
.header_inner{position: relative;}
#logo {position: absolute;left:0;top:50%;transform: translate(0,-50%);display: flex;align-items: end;gap:16px;}
#logo a {}
#logo img {height:40px;display: block;}
#logo a.sub_logo img{height:35px;}

.hd_util{display: flex;align-items: center;justify-content: end;padding-top:16px;font-size:1.5rem;}
.hd_util > div{position: relative;padding:0 24px;}
.hd_util > div:first-child{padding-left:0;}
.hd_util > div:last-child{padding-right:0;}
.hd_util > div + div:before{content:"";position: absolute;left:0;top:50%;transform: translate(0,-50%);width:1px;height:14px;background-color: #E0E0E0;}
.hd_util .hd_member{display: flex;align-items: center;gap:6px;}
.hd_util .hd_member strong{font-weight: 700;}
.hd_util .hd_time{display: flex;align-items: center;gap:6px;}
.hd_util .hd_time strong{font-weight:700;padding-left: 20px;background-position: left center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0.75C12.0041 0.75 15.25 3.99594 15.25 8C15.25 12.0041 12.0041 15.25 8 15.25C3.99594 15.25 0.75 12.0041 0.75 8C0.75 3.99594 3.99594 0.75 8 0.75Z' stroke='%23BDBDBD' stroke-width='1.5'/%3E%3Cpath d='M8 4V8H12' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");}
.hd_util .hd_time button{border-radius:8px;border:1px solid #E0E0E0;background-color: #fff;height: 32px;color:#4f4f4f;font-weight:500;padding:0 12px;}
.hd_util .hd_time button:hover{background-color: #f9f9f9;}
.hd_util .hd_blog{position: relative;}
.hd_util .hd_blog a{display: block;width: 24px;height: 24px;text-indent: -999em;overflow: hidden;background-position: center center;background-size: contain;background-image: url('../images/common/hd_blog.png');}
.hd_util .hd_lang{position: relative;}
.hd_util .hd_lang a{display: block;padding-left: 20px;color:#4F4F4F;font-size:1.5rem;font-weight: 500;background-position: left center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_887_853)'%3E%3Cpath d='M3.27734 13.1666C4.50425 12.4046 6.10051 11.9397 7.84959 11.9397C9.59868 11.9397 11.3435 12.4491 12.5917 13.277' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.6502 2.77832C11.4127 3.5722 9.78251 4.06042 7.99309 4.06042C6.20367 4.06042 4.57346 3.57432 3.33594 2.77832' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5917 13.277C11.3435 12.4491 9.68146 11.9397 7.84959 11.9397C6.01772 11.9397 4.50425 12.4046 3.27734 13.1666' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.992188 8H15.0019' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.99702 15.0049C11.8657 15.0049 15.0019 11.8687 15.0019 8.00008C15.0019 4.13141 11.8657 0.995239 7.99702 0.995239C4.12836 0.995239 0.992188 4.13141 0.992188 8.00008C0.992188 11.8687 4.12836 15.0049 7.99702 15.0049Z' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.6286 8.00008C10.6286 11.8697 9.45266 15.0049 8.00287 15.0049C6.55309 15.0049 5.375 11.8697 5.375 8.00008C5.375 4.13043 6.55309 0.995239 8.00287 0.995239C9.45266 0.995239 10.6286 4.13043 10.6286 8.00008Z' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_887_853'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.hd_util .hd_lang a:hover{filter:brightness(0.9);color:#222;}

.hd_util .hd_font_size{position: relative;}
.hd_util .hd_font_size > button{border:0;background-color: transparent;}
.hd_util .hd_font_size .font_size{display:flex;align-items:center;justify-content:center;border-radius:10px;}
.hd_util .hd_font_size .font_size svg{display:block;}
.hd_util .hd_links{display: flex;align-items: center;gap: 6px;}
.hd_util .hd_links .item{position: relative;}
.hd_util .hd_links .item a{background-color: #F5F5F5;border-radius:10px;padding:0 12px;height:32px;display: flex;align-items: center;justify-content: center;font-weight:500;}
.hd_util .hd_links .item a:hover{background-color: #e0e0e0;}
.hd_util #nav{}
.hd_util #nav a{color:#222;font-weight: 700;font-family: 'NanumSquareNeo';}
.hd_util #nav a:hover{color:#000;}

.hd_arrow_box{position: absolute;z-index:100;left:50%;transform: translateX(-50%);top:43px;background-color: #fff;border:1px solid #CDD1D5;border-radius:8px;padding:8px;box-shadow:0px 8px 24px rgba(0, 0, 0, 0.08);z-index:30;}
.hd_arrow_box:before{content:"";position: absolute;left:0;top:-18px;width: 100%;height: 18px;}
.hd_arrow_box:after{content:"";position: absolute;left:50%;transform: translateX(-50%);top:-12px;width: 22px;height: 12px;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='path-1-inside-1_652_21079' fill='white'%3E%3Cpath d='M22 12L11 0L0 12L22 12Z'/%3E%3C/mask%3E%3Cpath d='M22 12L11 0L0 12L22 12Z' fill='white'/%3E%3Cpath d='M11 0L11.7372 -0.675725C11.5477 -0.882354 11.2803 -1 11 -1C10.7197 -1 10.4523 -0.882354 10.2628 -0.675725L11 0ZM22 12L22 13L24.2732 13L22.7372 11.3243L22 12ZM0 12L-0.737154 11.3243L-2.27324 13L0 13V12ZM11 0L10.2628 0.675725L21.2628 12.6757L22 12L22.7372 11.3243L11.7372 -0.675725L11 0ZM0 12L0.737154 12.6757L11.7372 0.675725L11 0L10.2628 -0.675725L-0.737154 11.3243L0 12ZM22 12L22 11L0 11V12V13L22 13L22 12Z' fill='%23CDD1D5' mask='url(%23path-1-inside-1_652_21079)'/%3E%3Crect x='21' y='12' width='20' height='1' transform='rotate(-180 21 12)' fill='white'/%3E%3Cpath d='M0.273438 12H1.4375L2.27344 11H0.273438L0.273438 12Z' fill='%23CDD1D5'/%3E%3Cpath d='M21.7266 12H20.5625L19.7266 11H21.7266V12Z' fill='%23CDD1D5'/%3E%3C/svg%3E%0A");}
.hd_arrow_box[hidden]{display:none !important;}
.hd_arrow_box button{height:48px;white-space: nowrap;width: 100%;min-width: 134px;display:block;text-align:left;padding:0 16px;border:0;font-size:1.7rem;display: flex;gap:8px;align-items: center;background-color: #fff;}
.hd_arrow_box button:hover,
.hd_arrow_box button:focus-visible{font-weight:700;}
.hd_arrow_box button:first-child{border-radius:8px 8px 0 0 ;}
.hd_arrow_box button:last-child{border-radius:0 0 8px 8px;}
.hd_arrow_box button.active,
.hd_arrow_box button[aria-pressed="true"]{background-color: #f1f1f1;font-weight:700;}
.hd_arrow_box .hd_arrow_reset{border-top:1px solid #CDD1D5;height: 48px;text-align: center;justify-content: center;gap:4px;}
.hd_arrow_box button svg{background-color: #fff;}

.hd_menu{font-family: 'NanumSquareNeo';font-weight: 700;}
.hd_menu ul#nav{display: flex;align-items: center;justify-content: center;}
.hd_menu ul#nav li{}
.hd_menu ul#nav li a{display: flex;align-items: center;justify-content: center;height: 72px;padding:0 56px;font-size:1.9rem;}
.hd_menu ul#nav li a::after{ content: attr(data-text); font-weight:900; visibility:hidden; height:0; overflow:hidden; display:block; }
.hd_menu ul#nav li a:hover{font-weight: 900;}
#layout[data-zoom-scale="1.5"] .hd_menu ul#nav,
#layout[data-zoom-scale="1.3"] .hd_menu ul#nav,
#layout[data-zoom-scale="1.1"] .hd_menu ul#nav{justify-content: end;padding-right:120px;}
.hd_buttons{position: absolute;right:0;bottom:16px;gap:24px;display:flex;align-items:center;}
.hd_buttons button{border:0;background-color: transparent;}
.hd_buttons button svg{display: block;}
.hd_buttons .hd_btn_allmenu{box-sizing:border-box;align-items:center;justify-content:center;color:inherit;}
.hd_buttons a.hd_btn_blog{display: none;width: 20px;height: 20px;background-position: center center;background-size: contain;background-repeat: no-repeat;background-image: url('../images/common/hd_blog.png');}
.hd_buttons a.hd_btn_allmenu{display:none;text-decoration:none;}
.hd_buttons button.hd_btn_allmenu{display:none;}
.hd_buttons button.hd_btn_allmenu--mo{display:inline-flex;}
@media screen and (min-width:1241px){
	.hd_buttons a.hd_btn_allmenu--pc{display:inline-flex;}
	.hd_buttons button.hd_btn_allmenu--mo{display:none;}
}
.hd_btn_allmenu--mo{position:relative;}
.hd_btn_allmenu--mo .hd_btn_allmenu__icon--close{display:none;}
.hd_btn_allmenu--mo.is-open .hd_btn_allmenu__icon--open{display:none;}
.hd_btn_allmenu--mo.is-open .hd_btn_allmenu__icon--close{display:block;}
@media screen and (max-width:1770px) {
    .hd_menu ul#nav li a{padding:0 35px;}
}
@media screen and (max-width:1580px) {
    .hd_menu ul#nav{justify-content: end;padding-right:120px;}
    #logo img {height:36px;}
    .hd_menu ul#nav li a{padding:0 25px;font-size:1.7rem;}
}
@media screen and (max-width:1240px) {
    #rn_header{padding:0 20px;}
    .header_inner{height: 62px;}
    #logo img {height:24px;}

    #logo {gap:6px;}
    #logo a {}
    #logo img {height:24px;}
    #logo a.sub_logo img{height:18px;}

    .hd_util{display: none;}
    .hd_menu{display: none;}
    .hd_buttons{bottom:auto;top:50%;transform: translate(0,-50%);gap: 8px;}
    .hd_buttons button svg{width:24px;height: 24px;}
    .hd_buttons a.hd_btn_blog{display: block;}
}

#rn_footer{border-top:1px solid #E0E0E0; margin-top:auto;}
.ft_top{padding:16px 0;border-bottom:1px solid #E0E0E0;}
.ft_family.family_slide{display: flex;align-items: center;}
.ft_family .swiper-container{flex:1 1 auto;}
.ft_family .swiper-container .swiper-wrapper{}
.ft_family .slide_controls{display: flex;align-items: center;border:1px solid #E0E0E0;border-radius: 30px;overflow: hidden;flex:0 0 auto;margin-left:24px;}
.ft_family .slide_controls button{height:40px;width:40px;background-color: #fff;border:0;display: flex;align-items: center;justify-content: center;}
.ft_family .slide_controls button:hover{background-color: #f9f9f9;}
.ft_family .slide_controls button + button{border-left:1px solid #E0E0E0;}
.ft_family .swiper-slide{width: auto;}
.ft_family .swiper-slide img{height:70px;}
.ft_family.family_select{display: flex;}
.ft_family.family_select .ss-main {flex:1 1 auto;}
.ft_family.family_select .select_submit{flex:0 0 auto;}
@media screen and (min-width:1241px) {
    .ft_family.family_select{position: absolute;right:20px;top:0;width:320px;}
    .ft_family.family_select .ss-main {height: 54px;padding-left:20px;font-size:1.7rem;border-radius: 10px;background-position: right 20px center;background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5L7.99987 11L14 5' stroke='%23828282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
    html .ft_family.family_select .ss-main.ss-open-below, html .ft_family.family_select .ss-main.ss-open-above{background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 11L8.00013 5L2 11' stroke='%23828282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
    .ft_family .ss-main.ss-open-above{border-top-left-radius: 0px; border-top-right-radius: 0px;}
    .ft_family .ss-main.ss-open-below{border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
    html .ss-content .ss-list .ss-option{min-height: 54px;font-size:1.7rem;padding:13px 20px;}
    .ft_family.family_select .select_submit button{width:70px;height:54px;font-size:1.7rem;border-radius: 10px;}
}


.ft_bottom{padding:40px 0 60px;}
.ft_bottom .container{position: relative;}
.ft_bottom .ft_inner{}
.ft_bottom .ft_links{display: flex;align-items: center;gap: 32px;margin-bottom:40px;}
.ft_bottom .ft_links li{position: relative;}
.ft_bottom .ft_links li:before{content:"";position: absolute;left:-16px;top:50%;transform: translate(0,-50%);width:1px;height:12px;background-color: #E0E0E0;}
.ft_bottom .ft_links li:first-child:before{display: none;}
.ft_bottom .ft_links li a{font-size:1.7rem;font-weight: 700;font-family: 'NanumSquareNeo';}
.ft_bottom .ft_links li a:hover{text-decoration: underline;text-underline-offset: 4px;}
.ft_bottom .ft_info{margin-bottom:40px;display: flex;flex-wrap: wrap;align-items: center;font-size:1.7rem;}
.ft_bottom .ft_info .ft_call{display: flex;align-items: center;gap:16px;margin-right:16px;}
.ft_bottom .ft_info .ft_call .tit{font-size:2.3rem;font-weight: 700;font-family: 'NanumSquareNeo';}
.ft_bottom .ft_info .ft_call .cnt{font-size:2.3rem;font-weight: 900;font-family: 'NanumSquareNeo';color:#FA5C00;}
.ft_bottom .ft_info .ft_time{display: flex;align-items: center;gap:6px;}
.ft_bottom .ft_info .ft_time .txt{}
.ft_bottom .ft_info .ads{margin-top:8px;width: 100%;color:#4F4F4F;}
.ft_bottom .ft_info .ads span{}
.ft_bottom .ft_copy{color:#828282;font-size:1.5rem;}

@media screen and (max-width:1440px) {
    .ft_top{padding:10px 0;}
    .ft_family .slide_controls button{height:35px;width:35px;}
    .ft_family .slide_controls button svg{width: 13px;}
    .ft_family .swiper-slide img{height:60px;}
    .ft_family.family_select .select_submit button{}
    .ft_bottom{padding:30px 0 50px;}
    .ft_bottom .ft_links li a{font-size:1.6rem;}
    .ft_bottom .ft_info{margin-bottom:30px;font-size:1.5rem;}
    .ft_bottom .ft_info .ft_call .tit{font-size:2rem;}
    .ft_bottom .ft_info .ft_call .cnt{font-size:2rem;}
}
@media screen and (max-width:1240px) {
    #rn_footer{word-break: keep-all;}
    .ft_top{padding:0;border-bottom:0;}
    .ft_family.family_slide{display: none;}
    .ft_family.family_select{display: flex;margin-bottom:24px;}
    .ft_bottom{padding:24px 0 40px;}
    .ft_bottom .ft_inner{}
    .ft_bottom .ft_links{gap: 24px;margin-bottom:24px;}
    .ft_bottom .ft_links li:before{left:-12px;;}
    .ft_bottom .ft_links li a{font-size:1.5rem;}
    .ft_bottom .ft_info{margin-bottom:12px;font-size:1.4rem;}
    .ft_bottom .ft_info .ft_call{gap:8px;margin-right:0;}
    .ft_bottom .ft_info .ft_call .tit{font-size:1.9rem;}
    .ft_bottom .ft_info .ft_call .cnt{font-size:1.9rem;}
    .ft_bottom .ft_info .ft_time{flex-wrap: wrap;gap:2px 4px;width: 100%;margin-top:8px;font-size:1.5rem;}
    .ft_bottom .ft_info .ft_time .txt{width: 100%;}
    .ft_bottom .ft_info .ads{margin-top:20px;display: flex;flex-direction:column-reverse;}
    .ft_bottom .ft_copy{font-size:1.3rem;}
}

#content{margin-bottom: 120px;}
@media screen and (max-width:1240px) {
    #content{margin-bottom: 80px;}
}
.hd_layer{position:absolute;left:0;top:121px;width:100%;height:var(--hd-layer-height, calc(100vh - 121px));z-index:1000;opacity:1;transition:opacity .28s ease;pointer-events:none;}
.hd_layer .hd_search_inner{background-color: #fff;padding:80px 0;position: relative;z-index: 5;}
.hd_layer .hd_search_inner .hd_search_content{max-width:620px;margin:0 auto;}
.hd_layer .hd_search_inner h3{font-size:2.3rem;font-weight: 900;font-family: 'NanumSquareNeo';margin-bottom:24px;}
.hd_layer .hd_search_inner form{display: flex;align-items: center;}
.hd_layer .hd_search_inner form .input {flex:1 1 auto;width:1%;background-image: linear-gradient(180deg, #FF8418 0%, #ED4D28 100%);padding:2px;border-radius:100px;margin-right:-16px;}
.hd_layer .hd_search_inner form input{width:100%;height:64px;border-radius:100px;padding:0 24px 0 64px;font-family: 'NanumSquareNeo';border:0;background-position: left 24px center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='%23ED4D28' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.hd_layer .hd_search_inner form button{width:100px;height: 64px;font-size:19px;font-weight:800;background-color: #FB5C00;color:#fff;font-size:1.8rem;font-weight:700;border-radius:100px;border:0;background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' viewBox='0 0 100 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_319_17614)'%3E%3Crect width='100' height='64' fill='url(%23paint0_linear_319_17614)'/%3E%3Ccircle cx='27' cy='8.5' r='36' fill='white' fill-opacity='0.1'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_319_17614' x1='50' y1='0' x2='50' y2='64' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8418'/%3E%3Cstop offset='1' stop-color='%23ED4D28'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_319_17614'%3E%3Crect width='100' height='64' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.hd_layer .hd_search_inner form button:hover{filter:brightness(1.05)}
.hd_layer .hd_search_inner .favorit_keyword{display: flex;align-items: center;gap:8px;margin-top:24px;}
.hd_layer .hd_search_inner .favorit_keyword .tit{font-size:1.7rem;font-weight:700;flex:0 0 auto;font-family: 'NanumSquareNeo';}
.hd_layer .hd_search_inner .favorit_keyword  .controls {display: flex;align-items: center;gap:4px;flex:0 0 auto;}
.hd_layer .hd_search_inner .favorit_keyword  .controls button{width:24px;height:24px;font-family: 'NanumSquareNeo';background-color: #fff;border-radius: 50%;border:1px solid #e0e0e0;text-indent: -999em;overflow: hidden;background-position: center center;background-repeat: no-repeat;}
.hd_layer .hd_search_inner .favorit_keyword  .slide_control_prev {background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 2L3.49994 4.99993L6.5 8' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.hd_layer .hd_search_inner .favorit_keyword  .slide_control_next {background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 8L6.50006 5.00007L3.5 2' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.hd_layer .hd_search_inner .favorit_keyword  .swiper-container {position: relative;flex:1 1 auto;min-width:0;width:1%;}
.hd_layer .hd_search_inner .favorit_keyword  .swiper-container:before{content:"";position: absolute;z-index:10;left:0;top:0;width:30px;height:100%;background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);pointer-events: none;}
.hd_layer .hd_search_inner .favorit_keyword  .swiper-container.start:before{display: none;}
.hd_layer .hd_search_inner .favorit_keyword  .swiper-container:after{content:"";position: absolute;z-index:10;right:0;top:0;width:30px;height:100%;background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);pointer-events: none;}
.hd_layer .hd_search_inner .favorit_keyword  .swiper-container.end:after{display: none;}
.hd_layer .hd_search_inner .favorit_keyword  .swiper-slide {width: max-content;flex-shrink: 0;box-sizing: border-box;}
.hd_layer .hd_search_inner .favorit_keyword  .swiper-slide a {display: block;font-size:1.5rem;padding:10px 12px;border-radius: 100px;background-color: #F5F5F5;font-family: 'NanumSquareNeo';}
.hd_layer .hd_search_inner .favorit_keyword  .swiper-slide a:hover{background-color: #e9e9e9;}

.hd_layer .hd_search_inner #btn_search_close{position: absolute;left:50%;bottom:0;transform: translate(-50%,50%);border-radius:100px;color:#EE4F28;font-family: 'NanumSquareNeo';font-size:1.5rem;font-weight:800;padding:0 24px;height:48px;background-color: #FFEDEC;border:0;display: flex;align-items: center;justify-content: center;gap:6px;}
.hd_layer .hd_search_inner #btn_search_close svg{width:16px;height:16px;transition: all 0.3s;}
.hd_layer .hd_search_inner #btn_search_close:hover{background-color: #fde5e4;}
.hd_layer .hd_search_inner #btn_search_close:hover svg{transform: rotate(90deg);}   
.hd_layer .hd_layer_bg{position:absolute;left:0;top:0;width:100%;height:300%;background-color:rgba(0,0,0,0.2);opacity:0;transition:opacity .35s ease;}



.hd_sub_menu .hd_sub_menu_inner{background-color: #fff;position: relative;z-index: 5;overflow-x: auto;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content{}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .title{padding-top:60px;flex:0 0 auto;text-align: left;background-position: right top;background-repeat: no-repeat;border-radius:0 40px 0 0;background-color: #FFF4EF;
background-image: url("data:image/svg+xml,%3Csvg width='935' height='1088' viewBox='0 0 935 1088' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_335_83903)'%3E%3Crect width='935' height='1088' fill='%23FFF4EF'/%3E%3Cpath d='M610 592C664.594 592 709 636.465 709 691.5C709 746.535 664.594 791 610 791C555.406 791 511 746.535 511 691.5C511 636.465 555.406 592 610 592Z' stroke='url(%23paint0_linear_335_83903)' stroke-width='42'/%3E%3Ccircle cx='596.5' cy='49.5' r='63.5' stroke='url(%23paint1_linear_335_83903)' stroke-width='42'/%3E%3Cellipse cx='641' cy='570.5' rx='55' ry='54.5' fill='url(%23paint2_linear_335_83903)'/%3E%3Cellipse cx='910.5' cy='417' rx='122.5' ry='122' fill='url(%23paint3_linear_335_83903)'/%3E%3Cpath d='M694.5 -156C761.046 -156 815 -101.83 815 -35C815 31.8303 761.046 86 694.5 86C627.954 86 574 31.8303 574 -35C574 -101.83 627.954 -156 694.5 -156Z' stroke='white' stroke-width='2'/%3E%3Cpath d='M368 392C559.086 392 714 547.577 714 739.5C714 931.423 559.086 1087 368 1087C176.914 1087 22 931.423 22 739.5C22 547.577 176.914 392 368 392Z' stroke='url(%23paint4_linear_335_83903)' stroke-width='2'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_335_83903' x1='527.998' y1='571' x2='692.933' y2='811.361' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFEDE7'/%3E%3Cstop offset='0.427885' stop-color='%23FFF4EF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_335_83903' x1='512' y1='134' x2='681' y2='-35' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFF0E9'/%3E%3Cstop offset='1' stop-color='%23FFEEEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_335_83903' x1='641' y1='516' x2='641' y2='625' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFEDE7'/%3E%3Cstop offset='1' stop-color='%23FFF4EF' stop-opacity='0'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_335_83903' x1='797.487' y1='295' x2='1023.51' y2='539' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFEDE7'/%3E%3Cstop offset='0.811293' stop-color='%23FFF4EF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_335_83903' x1='715' y1='739.5' x2='21' y2='739.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFFDFB'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_335_83903'%3E%3Crect width='935' height='1088' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box{display: none;justify-content: center;width:100%;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box.is-active{display:flex;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .title{padding-bottom:84px;display: flex;flex-direction: column;flex:1 1 auto;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .title .inner{margin-left:auto;width:300px;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .title h3{font-size:3.5rem;font-weight: 900;font-family: 'NanumSquareNeo';margin-bottom:12px;color:#000;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .title p{font-size:1.5rem;margin-top:24px;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap{flex:1 1 auto;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul{display: grid;grid-template-columns: repeat(4, 1fr);gap:96px 20px;width:1060px;margin:40px 0 84px 40px;font-family: 'NanumSquareNeo';position: relative;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li{}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > a{display: flex;align-items: center;background-color: #FAFAFA;padding:20px;border-radius: 10px;color:#000;font-size: 1.5rem;font-weight: 700;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li:hover > a{color:#fff;font-weight:800;background: linear-gradient(90deg, #FF8418 0%, #ED4D28 100%), #FA5C00;box-shadow: 0px 2px 20px rgba(172, 181, 190, 0.14);}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > ul{margin-top:12px;display: flex;flex-direction: column;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > ul > li{}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > ul > li > a{display: block;padding:12px 0 12px 30px;color:#222;font-size:1.5rem;position: relative;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > ul > li > a:before{content:"";position: absolute;left:20px;top:50%;transform: translate(0,-54%);border-radius:50%;width:4px;height:4px;background-color: #BDBDBD;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > ul > li > a:hover{font-weight: 800;}
.hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li:nth-child(5):before{content:"";position: absolute;left:0;margin-top:-48px;height:1px;width:100%;background-color: #eee;}
@media screen and (max-width:1570px) {
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .title{padding-top:40px;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .title{padding-bottom:54px;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .title h3{font-size:3rem;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul{gap:60px 15px;margin:25px 0 54px 25px;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > a{padding:15px;font-size: 1.4rem;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > ul{margin-top:8px;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > ul > li > a{padding:6px 0 6px 25px;font-size:1.4rem;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > ul > li > a:before{left:15px;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li:nth-child(5):before{content:"";position: absolute;left:0;margin-top:-30px;height:1px;width:100%;background-color: #eee;}
}
@media screen and (max-width:1440px) {
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content{padding-right:25px;}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap{flex:none;width: calc(100% - 365px);}
    .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul{width:calc(100% - 25px);}
}
@media screen and (max-width:1240px) {
    #btn_hd_search_open[aria-expanded=true]{display: none;}
    .hd_layer{top:63px;height:calc(100vh - 63px);}
    .hd_layer .hd_search_inner{padding:40px 20px;}
    .hd_layer .hd_search_inner .hd_search_content{max-width:99999em;}
    .hd_layer .hd_search_inner form input{font-size:1.3rem;height:44px;padding:0 20px 0 46px;background-position: left 16px center;background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9453 18.9727L15.5752 15.6025M17.3958 11.2253C17.3958 14.6483 14.6209 17.4232 11.1979 17.4232C7.7749 17.4232 5 14.6483 5 11.2253C5 7.80225 7.7749 5.02734 11.1979 5.02734C14.6209 5.02734 17.3958 7.80225 17.3958 11.2253Z' stroke='%23ED4D28' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
    .hd_layer .hd_search_inner form button{height: 48px;font-size:1.5rem;width: 66px;background-image: url("data:image/svg+xml,%3Csvg width='66' height='48' viewBox='0 0 66 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_330_18062)'%3E%3Crect width='66' height='48' fill='white'/%3E%3Crect width='66' height='48' fill='url(%23paint0_linear_330_18062)'/%3E%3Ccircle cx='10' cy='0.5' r='36' fill='white' fill-opacity='0.1'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_330_18062' x1='33' y1='0' x2='33' y2='48' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8418'/%3E%3Cstop offset='1' stop-color='%23ED4D28'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_330_18062'%3E%3Crect width='66' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
    .hd_layer .hd_search_inner .favorit_keyword .tit {display: none;}
    .hd_layer .hd_search_inner .favorit_keyword  .swiper-slide a {font-size:1.3rem;padding:7px 10px;}

    .hd_layer .hd_search_inner #btn_search_close{width:40px;height:40px;padding:0;}
    .hd_layer .hd_search_inner #btn_search_close svg{width:16px;height:16px;}
    .hd_layer .hd_search_inner #btn_search_close span:not(.sound_only){display: none;}

    .hd_layer .hd_layer_bg{position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.2);opacity:0;transition:opacity .35s ease;}
}

.mobile_menu{display: block;background-color: #fff;}
.mobile_menu_inner{display: flex;flex-direction: column;height:calc(100vh - 62px);background-color: #fff;}
.mobile_menu_inner .mm_member{padding:24px 20px;text-align: center;}
.mobile_menu_inner .mm_member h2{font-size:1.9rem;font-family: 'Pretendard GOV';}
.mobile_menu_inner .mm_member h2 strong{font-weight: 700;}
.mobile_menu_inner .mm_member p{margin-top:8px;font-size:1.6rem;font-family: 'Pretendard GOV';}
.mobile_menu_inner .mm_member p strong{font-weight: 700;}
.mobile_menu_inner .mm_member .links{margin-top:16px;display: flex;gap:8px;}
.mobile_menu_inner .mm_member .links a{flex:1 1;background-color: #F5F5F5;border-radius: 6px;height: 36px;display: flex;align-items: center;justify-content: center;color:#222;font-size:1.4rem;font-weight:500;}
.mobile_menu_inner .mm_nav{display: flex;flex:1 1 auto;height: 1%;position: relative;}
.mobile_menu_inner .mm_nav .mm_gnb_tabs{width:130px;flex:0 0 auto;margin:0;padding:0;list-style:none;background-color: #FAFAFA;border-radius: 0 24px 0 0;}
.mobile_menu_inner .mm_nav .mm_gnb_tabs li{}
.mobile_menu_inner .mm_nav .mm_gnb_tabs li [role="tab"]{display: block;width:100%;padding:16px 20px;font-size:1.5rem;font-weight: 800;font-family: 'NanumSquareNeo';border-radius:0 24px 0 0;overflow: hidden;background:none;border:0;text-align:left;}
.mobile_menu_inner .mm_nav .mm_gnb_tabs li [role="tab"].is-active{color:#fff;background: linear-gradient(90deg, #FF8418 0%, #ED4D28 100%);}
.mobile_menu_inner .mm_nav .sub_menu_box{flex:1 1;background-color: #fff;display: none;overflow-y: auto;}
.mobile_menu_inner .mm_nav .sub_menu_box.is-active{display: flex;}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap{flex:1 1;}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul{}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li{}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li > a{display: block;padding:16px 20px;color:#000;font-family: 'NanumSquareNeo';font-weight: 700;border-bottom:1px solid #EEEEEE;position: relative;}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li.has_child > a{}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li.has_child > a:before{content:"";width:12px;height:12px;position: absolute;right:20px;top:50%;transform: translateY(-50%);background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4L6.00009 8.00009L2 4' stroke='%23828282' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li > a.open{font-weight: 800;color:#FA5C00;border-bottom:1px solid #FA5C00;}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li.has_child > a.open:before{transform:rotate(-360deg) translateY(-50%);background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 8L5.99991 3.99992L10 8' stroke='%23FA5C00' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}

.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li > a{}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li.has_child > ul{display:none;border-bottom:1px solid #EEEEEE;padding:10px 0;}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li.has_child > a.open + ul{display:block;}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li > ul > li{}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li > ul > li > a{display: block;padding:10px 20px;font-size:1.4rem;font-family: 'NanumSquareNeo';}
.mobile_menu_inner .mm_nav .sub_menu_box .ul_wrap > ul > li > ul > li > a.active{font-weight: 800;;}

.mobile_menu_inner .mm_nav .mm_lang{position: absolute;left:20px;bottom:24px;display: flex;align-items: center;justify-content: center;width: 90px;height: 36px;border: 1px solid #E0E0E0;border-radius: 8px;background-color: #fff;color:#4F4F4F;font-size:14px;font-weight: 500;}
.mobile_menu_inner .mm_nav .mm_lang span{display: inline-block;padding-left:20px;background-position: left center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_887_853)'%3E%3Cpath d='M3.27734 13.1666C4.50425 12.4046 6.10051 11.9397 7.84959 11.9397C9.59868 11.9397 11.3435 12.4491 12.5917 13.277' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.6502 2.77832C11.4127 3.5722 9.78251 4.06042 7.99309 4.06042C6.20367 4.06042 4.57346 3.57432 3.33594 2.77832' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.5917 13.277C11.3435 12.4491 9.68146 11.9397 7.84959 11.9397C6.01772 11.9397 4.50425 12.4046 3.27734 13.1666' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M0.992188 8H15.0019' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.99702 15.0049C11.8657 15.0049 15.0019 11.8687 15.0019 8.00008C15.0019 4.13141 11.8657 0.995239 7.99702 0.995239C4.12836 0.995239 0.992188 4.13141 0.992188 8.00008C0.992188 11.8687 4.12836 15.0049 7.99702 15.0049Z' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.6286 8.00008C10.6286 11.8697 9.45266 15.0049 8.00287 15.0049C6.55309 15.0049 5.375 11.8697 5.375 8.00008C5.375 4.13043 6.55309 0.995239 8.00287 0.995239C9.45266 0.995239 10.6286 4.13043 10.6286 8.00008Z' stroke='%23BDBDBD' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_887_853'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}

.hd_search.hd_layer[hidden],
.hd_sub_menu.hd_layer[hidden],
.mobile_menu.hd_layer[hidden]{display:none !important;}
.hd_search.hd_layer:not([hidden]),
.hd_sub_menu.hd_layer:not([hidden]),
.mobile_menu.hd_layer:not([hidden]){display:block;}
.hd_layer.is-open{pointer-events:auto;}
.hd_layer.is-open .hd_layer_bg{opacity:1;}
.hd_layer .hd_search_inner,
.hd_layer .hd_sub_menu_inner,
.hd_layer .mobile_menu_inner{ position:relative; z-index:5; opacity:0; top:-20px; transition:opacity .35s ease, top .35s ease; will-change:opacity, top; }
.hd_layer.is-open .hd_search_inner,
.hd_layer.is-open .hd_sub_menu_inner,
.hd_layer.is-open .mobile_menu_inner{opacity:1;top:0;}
.hd_layer.is-closing{opacity:0;pointer-events:none;}
@media screen and (max-width:1240px){
	.hd_sub_menu.hd_layer{display:none !important;}
}

.sub_rn_wrap{display: flex;justify-content: center;flex-wrap: wrap;padding-left:20px;padding-right:20px;flex: 1 1 auto;}
.sub_rn_wrap:before{content:"";position: absolute;left:0;top:0;height:321px;width:100%;background-color: #FFF4EF;background-position: center bottom;background-repeat: no-repeat;
background-image: url("data:image/svg+xml,%3Csvg width='1920' height='320' viewBox='0 0 1920 320' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_326_17820' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='-2' width='1920' height='322'%3E%3Crect y='-1.5' width='1920' height='321.5' fill='%23FFF6E1'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_326_17820)'%3E%3Crect y='-195.203' width='1920' height='514.4' fill='%23FFEDEC'/%3E%3Crect y='-195.203' width='1920' height='514.4' fill='%23FFF4EF'/%3E%3Crect y='118.5' width='1920' height='202' fill='%23FFEDEC'/%3E%3Crect y='118.5' width='1920' height='202' fill='%23FFF4EF'/%3E%3Ccircle cx='367.5' cy='317' r='82.5' stroke='url(%23paint0_linear_326_17820)' stroke-width='42'/%3E%3Ccircle cx='934' cy='151.5' r='100' stroke='url(%23paint1_linear_326_17820)' stroke-width='42'/%3E%3Cellipse cx='1510.5' cy='342.5' rx='273.5' ry='273' fill='url(%23paint2_linear_326_17820)'/%3E%3Cpath d='M1425.5 -10.5C1530.71 -10.5 1616 75.0112 1616 180.5C1616 285.989 1530.71 371.5 1425.5 371.5C1320.29 371.5 1235 285.989 1235 180.5C1235 75.0112 1320.29 -10.5 1425.5 -10.5Z' stroke='url(%23paint3_linear_326_17820)' stroke-width='2'/%3E%3Ccircle cx='341' cy='191.5' r='43' fill='url(%23paint4_linear_326_17820)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_326_17820' x1='296.774' y1='213.5' x2='438.226' y2='420.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FEE6E0'/%3E%3Cstop offset='0.427885' stop-color='%23FFF4EF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_326_17820' x1='813' y1='272.5' x2='1055' y2='30.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFF0E9'/%3E%3Cstop offset='1' stop-color='%23FFEEEC'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_326_17820' x1='1510.5' y1='69.5' x2='1510.5' y2='615.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFECE7'/%3E%3Cstop offset='0.427885' stop-color='%23FFF4EF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_326_17820' x1='1617' y1='180.5' x2='1234' y2='180.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFFDFB'/%3E%3Cstop offset='1' stop-color='white'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_326_17820' x1='341' y1='148.5' x2='341' y2='234.5' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFECE7'/%3E%3Cstop offset='1' stop-color='%23FFF4EF' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");}
.sub_rn_wrap #aside{margin-bottom:120px;width:240px;flex:0 0 auto;padding-top:50px;position: relative;z-index:1;}
.sub_rn_wrap #aside h2{ color:#fff;font-size:2.3rem;font-weight:800;font-family: 'NanumSquareNeo';padding:45px 30px 0;height: 150px; background: linear-gradient(180deg, #FF8418 0%, #ED4D28 100%), linear-gradient(360deg, #506AD2 0%, #468DD3 100%); border-radius: 30px 30px 0px 0px;
background-image: url("data:image/svg+xml,%3Csvg width='240' height='150' viewBox='0 0 240 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_325_17683)'%3E%3Crect width='240' height='150' fill='url(%23paint0_linear_325_17683)'/%3E%3Crect width='240' height='150' fill='url(%23paint1_linear_325_17683)'/%3E%3Ccircle cx='15' cy='15' r='75' fill='white' fill-opacity='0.1'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_325_17683' x1='120' y1='150' x2='120' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23506AD2'/%3E%3Cstop offset='1' stop-color='%23468DD3'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_325_17683' x1='120' y1='0' x2='120' y2='150' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8418'/%3E%3Cstop offset='1' stop-color='%23ED4D28'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_325_17683'%3E%3Crect width='240' height='150' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");}
.sub_rn_wrap #aside > ul,
.sub_rn_wrap #aside > nav > ul{}
.sub_rn_wrap #aside > ul > li,
.sub_rn_wrap #aside > nav > ul > li{}
.sub_rn_wrap #aside > ul > li > a,
.sub_rn_wrap #aside > nav > ul > li > a{display: block;padding:18px 16px;font-size:1.7rem;border-bottom:1px solid #eee;position: relative;}
.sub_rn_wrap #aside > ul > li > a:hover,
.sub_rn_wrap #aside > nav > ul > li > a:hover{color: #000;}
.sub_rn_wrap #aside > ul > li > a.active,
.sub_rn_wrap #aside > nav > ul > li > a.active{font-weight: 700;border-bottom:1px solid #FA5C00;}
.sub_rn_wrap #aside > ul > li > a.active:hover,
.sub_rn_wrap #aside > nav > ul > li > a.active:hover{}
.sub_rn_wrap #aside > ul > li > ul,
.sub_rn_wrap #aside > nav > ul > li > ul{ background-color: #FAFAFA; max-height: 0; overflow: hidden; padding-top: 0; padding-bottom: 0; transition: max-height 0.4s ease, padding 0.4s ease; }
.sub_rn_wrap #aside > ul > li > a.open + ul,
.sub_rn_wrap #aside > nav > ul > li > a.open + ul{ max-height: 480px; padding-top: 12px; padding-bottom: 12px; border-bottom: 1px solid #EEEEEE;}
@media (prefers-reduced-motion: reduce){
	.sub_rn_wrap #aside > ul > li > ul,
	.sub_rn_wrap #aside > nav > ul > li > ul{transition: none;}
}
.sub_rn_wrap #aside > ul > li > ul > li,
.sub_rn_wrap #aside > nav > ul > li > ul > li{}
.sub_rn_wrap #aside > ul > li > ul > li > a,
.sub_rn_wrap #aside > nav > ul > li > ul > li > a{display: block;padding:6px 24px;color:#4F4F4F;font-size:1.5rem;}
.sub_rn_wrap #aside > ul > li > ul > li > a:hover,
.sub_rn_wrap #aside > nav > ul > li > ul > li > a:hover{font-weight: 500;color:#222;}
.sub_rn_wrap #aside > ul > li > ul > li > a.active,
.sub_rn_wrap #aside > nav > ul > li > ul > li > a.active{color:#FA5C00;font-weight: 700;}
.sub_rn_wrap #aside > ul > li:has(ul) > a:before,
.sub_rn_wrap #aside > nav > ul > li:has(ul) > a:before{content:"";position: absolute;right:12px;top:50%;transform: translateY(-50%);
width:24px;height:24px;background-position: center center;background-repeat: no-repeat;
background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 10L12.0001 14.0001L8 10' stroke='%23828282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.sub_rn_wrap #aside > ul > li:has(ul):hover > a:before,
.sub_rn_wrap #aside > nav > ul > li:has(ul):hover > a:before{filter:brightness(0.7);}
.sub_rn_wrap #aside > nav > ul > li:has(ul):hover > a.open:before{filter:brightness(1);}
.sub_rn_wrap #aside > ul > li > a.open:before,
.sub_rn_wrap #aside > nav > ul > li > a.open:before{transform: translateY(-50%) rotate(180deg);background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 10L12.0001 14.0001L8 10' stroke='%23FA5C00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}

.sub_rn_wrap #aside + #content_wrap{padding-left:40px;flex:1 1 auto;width:1%;max-width:960px;padding-right: 0;}
.sub_rn_wrap #content_wrap{padding-bottom:120px;position: relative;z-index: 1;width: 1200px;}
.sub_rn_wrap #content_wrap .page_info{padding-top:50px;position: relative;display: flex;flex-direction: column-reverse;height: 200px;justify-content: start;}
.sub_rn_wrap #content_wrap .page_info h3{font-size:3.5rem;font-weight: 900;font-family: 'NanumSquareNeo';line-height: 40px;}
.sub_rn_wrap #content_wrap .page_info ul{display: flex;align-items: center;flex-wrap: wrap;gap:16px;min-height: 40px;margin-bottom:8px;}
.sub_rn_wrap #content_wrap .page_info ul li{position: relative;}
.sub_rn_wrap #content_wrap .page_info ul li:after{content:"";position: absolute;width:8px;height:8px;right:-12px;top:50%;transform: translateY(-61%);background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 1L5.5 3.99993L2.5 7' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.sub_rn_wrap #content_wrap .page_info ul li a{font-size:1.5rem;display: block;}
.sub_rn_wrap #content_wrap .page_info ul li a:hover{text-decoration: underline;}
.sub_rn_wrap #content_wrap .page_info ul li a.home{position: relative;top:-1px;width:12px;height:12px;text-indent: -999em;overflow: hidden;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 4.5L6 1L10.5 4.5V10C10.5 10.2652 10.3946 10.5196 10.2071 10.7071C10.0196 10.8946 9.76522 11 9.5 11H2.5C2.23478 11 1.98043 10.8946 1.79289 10.7071C1.60536 10.5196 1.5 10.2652 1.5 10V4.5Z' stroke='%23222222' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.sub_rn_wrap #content_wrap .page_info ul li:last-child:after{display: none;}
.sub_rn_wrap #content_wrap .page_info ul li:last-child a{font-weight: 700;}
.sub_rn_wrap #content_wrap .print_share{position: absolute;right:0;top:50px;display: flex;gap:8px;}
.sub_rn_wrap #content_wrap .print_share button{position:relative;border:0;width:40px;height:40px;border-radius:50%;background-color: #fff;text-indent:-999em;overflow: hidden;background-position: center center;background-repeat: no-repeat;}
.sub_rn_wrap #content_wrap .print_share button:before{position: absolute;left:0;top:0;content:"";width:100%;height:100%;background-position: center center;background-repeat: no-repeat;}
.sub_rn_wrap #content_wrap .print_share .print_btn:before{background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.0013 7.50008V1.66675H15.0013V7.50008M5.0013 15.0001H3.33464C2.89261 15.0001 2.46868 14.8245 2.15612 14.5119C1.84356 14.1994 1.66797 13.7754 1.66797 13.3334V9.16675C1.66797 8.72472 1.84356 8.3008 2.15612 7.98824C2.46868 7.67568 2.89261 7.50008 3.33464 7.50008H16.668C17.11 7.50008 17.5339 7.67568 17.8465 7.98824C18.159 8.3008 18.3346 8.72472 18.3346 9.16675V13.3334C18.3346 13.7754 18.159 14.1994 17.8465 14.5119C17.5339 14.8245 17.11 15.0001 16.668 15.0001H15.0013M5.0013 11.6667H15.0013V18.3334H5.0013V11.6667Z' stroke='%23828282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.sub_rn_wrap #content_wrap .print_share .share_btn:before{background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33203 10.0001V16.6667C3.33203 17.1088 3.50763 17.5327 3.82019 17.8453C4.13275 18.1578 4.55667 18.3334 4.9987 18.3334H14.9987C15.4407 18.3334 15.8646 18.1578 16.1772 17.8453C16.4898 17.5327 16.6654 17.1088 16.6654 16.6667V10.0001M13.332 5.00008L9.9987 1.66675M9.9987 1.66675L6.66536 5.00008M9.9987 1.66675L9.9987 12.5001' stroke='%23828282' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
.sub_rn_wrap #content_wrap .print_share .facebook_btn:before{background-image: url("../images/content/facebook_btn.svg");}
.sub_rn_wrap #content_wrap .print_share .twitter_btn:before{background-image: url("../images/content/twitter_btn.svg");}
.sub_rn_wrap #content_wrap .print_share button:hover:before{filter:brightness(0.7)}
.sub_rn_wrap #content_wrap .action_toggle{display: none;}

.sub_rn_wrap #content{padding-top:40px;margin-bottom:0;}

@media screen and (max-width:1240px) {
    .sub_rn_wrap{} 
    .sub_rn_wrap:before{display: none;}
    .sub_rn_wrap #aside{display: none;}
    
    .sub_rn_wrap #aside + #content_wrap{width: 100%;padding-left:0;max-width: 100%;}
    .sub_rn_wrap #content{padding-top:0;width: 100%;}
    .sub_rn_wrap #content_wrap{width:100%;padding-bottom:80px;}
    .sub_rn_wrap #content_wrap .page_info{height:auto;padding-top:0;margin-top:0;margin:0 -20px 24px;}
    .sub_rn_wrap #content_wrap .page_info h3{height: auto;;font-size:2.3rem;min-height:106px;padding:24px 56px;line-height: 1.2;text-align: center;display: flex;align-items: center;justify-content: center;background-color: #FFECE7;background-position: left top;background-repeat: no-repeat;background-image: url('../images/content/page_info.svg');}
    .sub_rn_wrap #content_wrap .page_info ul{display: none;}
    .sub_rn_wrap #content_wrap .print_share{right:20px;bottom:50px;}
    .sub_rn_wrap #content_wrap .print_share button{width:36px;height:36px;}
    .sub_rn_wrap #content_wrap .print_share button:before{background-size: 18px;}
    .sub_rn_wrap #content_wrap .print_share .print_btn{display: none;}
    .sub_rn_wrap #content_wrap .print_share .share_btn:before{background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00391 9.00256V14.4026C3.00391 14.7606 3.16194 15.104 3.44325 15.3572C3.72455 15.6103 4.10608 15.7526 4.50391 15.7526H13.5039C13.9017 15.7526 14.2833 15.6103 14.5646 15.3572C14.8459 15.104 15.0039 14.7606 15.0039 14.4026V9.00256M12.0039 4.95256L9.00391 2.25256M9.00391 2.25256L6.00391 4.95256M9.00391 2.25256L9.00391 11.0276' stroke='%23828282' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");}
    .sub_rn_wrap #content_wrap .action_toggle{display: block;position: absolute;right:20px;top:20px;width: 36px;height: 36px;background-color: #fff;border:0;border-radius: 50%;background-position: center center;background-repeat: no-repeat;background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='8.5' r='1.5' fill='%23828282'/%3E%3Ccircle cx='9' cy='8.5' r='1.5' fill='%23828282'/%3E%3Ccircle cx='14' cy='8.5' r='1.5' fill='%23828282'/%3E%3C/svg%3E%0A");}
    .sub_rn_wrap #content_wrap .action_toggle.open{background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='4.85754' y1='5' x2='12.9893' y2='13.1317' stroke='%23828282' stroke-width='1.5' stroke-linecap='round'/%3E%3Cline x1='0.75' y1='-0.75' x2='12.25' y2='-0.75' transform='matrix(0.707107 -0.707107 -0.707107 -0.707107 3.79688 13.0928)' stroke='%23828282' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");}
    .sub_rn_wrap #content{margin-bottom:0;}
}

.en #rn_header{padding:0 20px;}
.en #rn_header .header_inner{height: 82px;display: flex;align-items: center;max-width: 1400px;margin:0 auto;}
.en .hd_sub_menu .hd_sub_menu_inner .hd_sub_menu_content .sub_menu_box .ul_wrap > ul > li > a{height: stretch;}
.en .hd_util{padding-top:0;margin-left:auto;}
.en .hd_util #nav a{font-size:1.9rem;}
.en .hd_util #nav a:hover{font-weight: 800;letter-spacing: -0.07rem;}
.en .ft_bottom .ft_info{font-size:1.7rem;}
.en .ft_bottom .ft_info .ads{margin-top:20px;}
.en .sub_rn_wrap:before{height: 283px;}
.en .sub_rn_wrap #aside > ul > li > a.active, .en .sub_rn_wrap #aside > nav > ul > li > a.active{letter-spacing: -0.09rem;}
.en .hd_layer{top:83px;height:calc(100vh - 83px);}

#content{margin-bottom: 120px;}
.en #content{margin-bottom:0;}
@media screen and (max-width:1240px) {
    .en #rn_header .header_inner{height: 62px;}
    #content{margin-bottom: 80px;}
    .en #content{margin-bottom:80px;}
    .en .ft_bottom .ft_info .ads{margin-top:24px;}
    .en .ft_bottom .ft_info{font-size:1.4rem;}
    .en .mobile_menu_inner .mm_member{padding:16.5px 20px;}
    .en .mobile_menu_inner .mm_nav{width: 100%;}
    .en .mobile_menu_inner .mm_nav .ul_wrap{width:100%;border-radius: 0 24px 0 0;overflow: hidden;font-family: 'NanumSquareNeo';padding-bottom:84px;}
    .en .mobile_menu_inner .mm_nav .ul_wrap > ul{height: 100%;}
    .en .mobile_menu_inner .mm_nav .ul_wrap > ul > li{display: flex;flex-direction: column;height: 100%;}
    .en .mobile_menu_inner .mm_nav .ul_wrap > ul > li > a{display: block;min-height: 53px;background: linear-gradient(90deg, #FF8418 0%, #ED4D28 100%);padding:16px 20px;color:#FAFAFA;font-size:1.5rem;font-weight: 800;}
    .en .mobile_menu_inner .mm_nav .ul_wrap > ul > li > ul{overflow-y: auto;flex:1 1 auto}
    .en .mobile_menu_inner .mm_nav .ul_wrap > ul > li > ul > li{}
    .en .mobile_menu_inner .mm_nav .ul_wrap > ul > li > ul > li > a{display: block;padding:16px 16px 16px 36px;position: relative;color:#000;font-size:1.5rem;font-weight: 700;border-bottom:1px solid #EEEEEE;}
    .en .mobile_menu_inner .mm_nav .ul_wrap > ul > li > ul > li > a:before{content:"";width:4px;height: 4px;border-radius: 50%;position: absolute;left:20px;top:50%;transform: translateY(-50%);background-color: #BDBDBD;}
    .en .mobile_menu_inner .mm_nav .mm_lang{width:calc(100% - 40px);}
    .en .sub_rn_wrap #content_wrap .print_share{display:none;right:16px;flex-direction: column;bottom:auto;top:64px;background-color: #fff;border-radius:100px;box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);padding:8px 4px;}
    .en .sub_rn_wrap #content_wrap .print_share .print_btn{display: block;}
    .en .hd_layer{top:63px;height:calc(100vh - 63px);}
}


