@charset "utf-8";
.rn_section + .rn_section{margin-top:48px;padding-top:40px;border-top: 1px solid #eee;}
.rn_title{font-size:2.1rem;font-weight: 800;font-family: 'NanumSquareNeo';padding-left:20px;position: relative;margin-bottom:24px;}
.rn_title:before{content:"";position: absolute;left:0;top:50%;transform: translateY(-50%);width:10px;height:10px;background-color: #FA5C00;border-radius: 50%;background: linear-gradient(135deg, #FFCF4F 0%, #FA5C00 100%);}

@media screen and (max-width:1240px) {
    .rn_section + .rn_section{margin-top:30px;padding-top:30px;}
    .rn_title{font-size:1.8rem;padding-left:16px;margin-bottom:16px;}
    .rn_title:before{width:8px;height:8px;}
}

html .sub_contents{min-height:0;padding-bottom:0;padding-top:0;}
html .sub_contents h4{background-image: url("data:image/svg+xml,%3Csvg width='4' height='17' viewBox='0 0 4 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='4' height='17' rx='2' fill='url(%23paint0_linear_548_4007)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_548_4007' x1='2' y1='0' x2='2' y2='17' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFCF4F'/%3E%3Cstop offset='1' stop-color='%23FA5C00'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");}
html .section1 > ul.type1 > li{background-image: url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.5' cy='2.5' r='2.5' fill='%23FA5C00'/%3E%3C/svg%3E%0A");}
@media screen and (max-width:1240px) {
    html .sub_contents{padding-top:0;}
    html #evaluation{margin-bottom:0;}
}

.sitemap_ul{display: flex;flex-wrap: wrap;gap:20px;font-family: 'NanumSquareNeo';}
.sitemap_ul.between_lg{gap:48px 20px;}
.sitemap_ul > li{width:calc(33.333% - 13.333px);border-radius: 10px;}
.sitemap_ul > li > a{display: block;background-color: #FAFAFA;border-radius: 10px;padding:20px;font-weight: 700;color:#000;}
.sitemap_ul > li:hover > a{font-weight: 900;color:#fff;background: linear-gradient(90deg, #FF8418 0%, #ED4D28 100%), #FAFAFA;}
.sitemap_ul > li > a.active{}
.sitemap_ul > li > a.active:hover{}
.sitemap_ul > li > ul{margin-top:12px;}
.sitemap_ul > li > ul > li{}
.sitemap_ul > li > ul > li > a{display: block;;padding:12px 0;font-size:1.5rem;padding-left:30px;position: relative;}
.sitemap_ul > li > ul > li > a:hover{font-weight: 800;}
.sitemap_ul > li > ul > li > a:before{content:"";position: absolute;left:20px;top:50%;transform: translateY(-54%);width:4px;height:4px;background-color: #BDBDBD;border-radius: 50%;}

@media screen and (max-width:1240px) {
    .sitemap_ul.between_lg{gap:24px 20px;}
    .sitemap_ul > li{width:calc(50% - 10px);}
    .sitemap_ul > li > ul{margin-top:6px;}
    .sitemap_ul > li > a{padding:15px;}
    .sitemap_ul > li > ul > li > a{padding:6px 0;font-size:1.4rem;padding-left:20px;}
    .sitemap_ul > li > ul > li > a:before{left:10px;}
}
@media screen and (max-width:550px) {
    .sitemap_ul.between_lg{gap:16px 20px;}
    .sitemap_ul > li{width:100%;}
    .sitemap_ul > li > a{padding:14px;}
}